body {
  margin: 0;
  font-family: 'Marck Script', cursive;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  #gradient-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0, 0, 0, 0.94);
  }

  .card-wrapper {
    position: relative;
    width: 600px;

    & .card {
      width: 300px;
      height: 500px;
      transform: perspective(1000px) translate(50%) scale(0.5) rotateY(0deg);
      transform-origin: 50px center;
      transition: 1.5s cubic-bezier(0, 0, 0, 0.94);

      & .side {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: perspective(1000px) rotateY(0);
        transform-origin: right center;
        transform-style: preserve-3d;
        transition: 1.5s cubic-bezier(0, 0, 0, 0.9);

        &.left-side {
          border-radius: 10px 0 0 10px;

          & .front .heart {
            & .circle, & .rect {
              background: #FF5C8A;
            }
          }
        }

        &.right-side {
          border-radius: 10px 0 0 10px;

          & .front .heart {
            & .circle, & .rect {
              background: #F9BEC7;
            }

            & .circle {
              border: 3px solid #FF5C8A;

            }

            & .rect {
              border-left: 3px solid #FF5C8A;

            }
          }

          & .text-wrapper {
            & p {
              transform: rotateY(-180deg);
            }
          }
        }

        & .back, & .front {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          backface-visibility: hidden;
          transition: 0.5s cubic-bezier(0, 0, 0, 0.94);
          overflow: hidden;
        }

        & .front {
          z-index: 2;
          transform-origin: center;

          & .heart {
            & .circle, & rect {
              background: #F9BEC7;
            }
          }
        }

        & .back {
          transform: rotateY(180deg);

          & .heart {
            transform: rotateY(180deg);
          }
        }

        & .heart {
          & .title {
            position: absolute;
            bottom: 20%;
            left: 15%;
            font-size: 4em;
            transform: rotate(45deg);
            color: #FA356D;
          }

          & .text-wrapper {
            position: absolute;
            top: 6vh;
            right: 0;
            width: 450px;
            text-align: center;
            color: aliceblue;
            backface-visibility: hidden;
            transform: translateX(50%);
            cursor: default;

            & p:first-child {
              font-size: 2.7em;
            }

            & p {
              font-size: 2.2em;
            }
          }

          & .heart-half {
            transform: rotate(-45deg) translateX(25%) translateY(15%);;
            cursor: pointer;

            & .circle {
              width: 300px;
              height: 300px;
              background: #FF5C8A;
              border-radius: 50%;
              transition: background 1s cubic-bezier(0, 0, 0, 0.94);
            }

            & .rect {
              width: 300px;
              height: 300px;
              background: #FF5C8A;
              margin-top: -150px;
              transition: background 1s cubic-bezier(0, 0, 0, 0.94);
            }
          }
        }
      }
    }

    &.active {
      & .card {
        transform: perspective(1000px) translate(0%) scale(1) rotateY(0);

        & .side {
          &.right-side {
            transform: perspective(1000px) rotateY(180deg);
          }
        }

        & .left-side .back .heart,
        & .right-side .back .heart {
          & .circle, & .rect {
            background: #FF5C8A;
          }
        }
      }
    }

    &:not(.active) .heart {
      cursor: pointer;
    }
  }

  audio {
    display: none;
  }
}
